<p id="notice"><%= notice %></p>

<h1>Sanciones</h1>

<table>
  <thead>
    <tr>
      <th>Estado</th>
      <th>Norma</th>
      <th>Posicion</th>
      <th>Nombre</th>
      <th>Descripcion</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sanciones.each do |sancion| %>
      <tr>
        <td><%= sancion.estado %></td>
        <td><%= sancion.norma %></td>
        <td><%= sancion.posicion %></td>
        <td><%= sancion.nombre %></td>
        <td><%= sancion.descripcion %></td>
        <td><%= link_to 'Show', sancion %></td>
        <td><%= link_to 'Edit', edit_sancion_path(sancion) %></td>
        <td><%= link_to 'Destroy', sancion, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sancion', new_sancion_path %>
