<p id="notice"><%= notice %></p>

<p>
  <strong>Estado:</strong>
  <%= @sancion.estado %>
</p>

<p>
  <strong>Norma:</strong>
  <%= @sancion.norma %>
</p>

<p>
  <strong>Posicion:</strong>
  <%= @sancion.posicion %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @sancion.nombre %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @sancion.descripcion %>
</p>

<%= link_to 'Modificar', edit_sancion_path(@sancion), :class => "button" %> |
<%= link_to 'Volver', sanciones_path, :class => "button" %>
