<p id="notice"><%= notice %></p>

<h1>Involucrados</h1>

<table>
  <thead>
    <tr>
      <th>Fecha</th>
      <th>Estado</th>
      <th>Caso</th>
      <th>Alumno</th>
      <th>Participacion</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @involucrados.each do |involucrado| %>
      <tr>
        <td><%= involucrado.fecha.localtime.strftime("%d/%m/%Y %H:%M") %></td>
        <td><%= involucrado.estado %></td>
        <td><%= involucrado.caso_id %></td>
        <td><%= involucrado.alumno_id %></td>
        <td><%= involucrado.participacion %></td>
        <td><%= link_to 'Show', involucrado, :class => "button" %></td>
        <td><%= link_to 'Edit', edit_involucrado_path(involucrado), :class => "button" %></td>
        <td><%= link_to 'Destroy', involucrado, method: :delete, data: { confirm: 'Are you sure?' }, :class => "button" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo Estudiante Involucrado', new_caso_involucrado_path(@caso), :class => "button" %>
