<p id="notice"><%= notice %></p>

<h1>Seguimientos</h1>

<table>
  <thead>
    <tr>
      <th>Fecha</th>
      <th>Caso</th>
      <th>Numero</th>
      <th>Glosa</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @seguimientos.each do |seguimiento| %>
      <tr>
        <td><%= seguimiento.fecha.localtime.strftime("%d/%m/%Y %H:%M") %></td>
        <td><%= seguimiento.caso_id %></td>
        <td><%= seguimiento.numero %></td>
        <td><%= seguimiento.glosa %></td>
        <td><%= link_to 'Ver', seguimiento, :class => "button" %></td>
        <td><%= link_to 'Modificar', edit_seguimiento_path(seguimiento), :class => "button" %></td>
        <td><%= link_to 'Borrar', seguimiento, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Seguimiento', new_seguimiento_path %>
