<p id="notice"><%= notice %></p>

<h1>Castigos</h1>

<table>
  <thead>
    <tr>
      <th>Fecha</th>
      <th>Estado</th>
      <th>Caso</th>
      <th>Sancion</th>
      <th>Alumno</th>
      <th>Descripcion</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @castigos.each do |castigo| %>
      <tr>
        <td><%= castigo.fecha.localtime.strftime("%d/%m/%Y %H:%M") %></td>
        <td><%= castigo.estado %></td>
        <td><%= castigo.caso_id %></td>
        <td><%= castigo.sancion_id %></td>
        <td><%= castigo.alumno_id %></td>
        <td><%= castigo.descripcion %></td>
        <td><%= link_to 'Ver', castigo %></td>
        <td><%= link_to 'Modificar', edit_castigo_path(castigo) %></td>
        <td><%= link_to 'Borrar', castigo, method: :delete, data: { confirm: 'Esta seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo Castigo', new_castigo_path %>
