<p id="notice"><%= notice %></p>

<p>
  <strong>Fecha:</strong>
  <%= @documento.fecha.localtime.strftime("%d/%m/%Y %H:%M") %>
</p>

<p>
  <strong>Seguimiento:</strong>
  <%= @documento.seguimiento_id %>
</p>

<p>
  <strong>Archivo:</strong>
  <a href="/docs/<%= @documento.adjunto %>"><%= @documento.archivo %></a>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @documento.descripcion %>
</p>

<%= link_to 'Edit', edit_documento_path(@documento) %> |
<%= link_to 'Back', documentos_path %>
