<p id="notice"><%= notice %></p>

<p>
  <strong>Fecha:</strong>
  <%= @contravencion.fecha.localtime.strftime("%d/%m/%Y %H:%M") %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @contravencion.estado %>
</p>

<p>
  <strong>Caso:</strong>
  <%= @contravencion.caso_id %>
</p>

<p>
  <strong>Alumno:</strong>
  <%= @contravencion.involucrado.alumno.nombre %>
</p>

<p>
  <strong>Falta:</strong>
  <%= @contravencion.falta.nombre %>
</p>


<p>
  <strong>Descripcion:</strong>
  <%= @contravencion.descripcion %>
</p>

<%= link_to 'Modificar', edit_contravencion_path(@contravencion) %> |
<%= link_to 'Volver', @contravencion.involucrado %>
