<p id="notice"><%= notice %></p>

<h1>Faltas</h1>

<table>
  <thead>
    <tr>
      <th>Tipo</th>
      <th>Nombre</th>
      <th>Norma</th>
      <th>Posicion</th>
      <th>Descripcion</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @faltas.each do |falta| %>
      <tr>
        <td><%= falta.tipo %></td>
        <td><%= falta.nombre %></td>
        <td><%= falta.norma %></td>
        <td><%= falta.posicion %></td>
        <td><%= falta.descripcion %></td>
        <td><%= link_to 'Show', falta, :class => "button" %></td>
        <td><%= link_to 'Edit', edit_falta_path(falta), :class => "button" %></td>
        <td><%= link_to 'Destroy', falta, method: :delete, data: { confirm: 'Are you sure?' }, :class => "button" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Falta', new_falta_path %>
